{% extends "back-layout.html.twig" %}

{% set rq = app.request.query %}

{% block content %}

    <h4>{% trans %}Tous les articles{% endtrans %}</h4>

    {% if articles is not empty %}

        <div class="tableau table-hover">
            <table class="display nowrap" id="data-table" cellspacing="0" width="100%">

                <thead>
                <tr>
                    <th>{% trans %}Contributeur{% endtrans %}</th>
                    <th>{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Titre article{% endtrans %}</th>
                    <th class="tableau_action">{% trans %}Action{% endtrans %}</th>
                </tr>
                </thead>

                <tbody class="fond_tableau">
                {% for article in articles %}
                    <tr>
                        <td>
                            {{ article.author.username }}
                        </td>

                        <td>
                            {{ article.date | date('d-m-Y') }}
                        </td>

                        <td class="content_observation">

                            {{ article.title |striptags| truncate(20)}}

                            <div class="tableau_observation">
                                <a href="{{ path('article', {'id': article.id}) }}">{{ article.content |striptags| truncate(30) }}</a>
                            </div>
                        </td>

                        <td class="tableau_action action">

                            <a href="{{ path('article', {'id': article.id}) }}">
                                <span class=" glyphicon glyphicon-eye-open icone" title="Voir l'article"></span>
                            </a>

                            <a href="{{ path('dashboard_editArticle', {article: article.id}) }}">
                                <span class=" glyphicon glyphicon-pencil icone" title="Modifier l'article"></span>
                            </a>


                            <a href="{{ path('supprimerArticle', {'id': article.id, 'redirect': 'all_articles'}) }}">
                                <span class=" glyphicon glyphicon-trash icone" title="Supprimer l'article"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="aucun">{% trans %}Il n'y a aucun article pour l'instant.{% endtrans %}</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">{% include 'back/locale.html.twig' %}</script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.0/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="{{asset('js/table.js')}}"></script>
{% endblock %}

