{% extends "back-layout.html.twig" %}

{% set couleurs = {
'A valider': 'black',
'Validée': '#519D9E',
'A modifier': 'orange',
'Signalée': '#ff6000',
'Supprimée': '#d30000'
} %}

{% set rq = app.request.query %}

{% block content %}

    <h4>{% trans %}Toutes les observations{% endtrans %}</h4>

    {% if observations is not empty %}

        <div class="tableau table-hover">
            <table class="display nowrap" id="data-table" cellspacing="0" width="100%">

                <thead>
                <tr>
                    <th>{% trans %}Utilisateur{% endtrans %}</th>
                    <th>{% trans %}Statut{% endtrans %}</th>
                    <th>{% trans %}Observation{% endtrans %}</th>
                    <th>{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Validateur{% endtrans %}</th>
                    <th class="tableau_action">{% trans %}Action{% endtrans %}</th>
                </tr>
                </thead>

                <tbody class="fond_tableau">
                {% for observation in observations %}
                    <tr class="ligne_tbl">
                        <td>
                            {{ observation.author.username }}
                        </td>
                        <td>
                            <span class="observation_status" style="color: {{ couleurs[observation.status] }}">{{ observation.status }}</span>
                        </td>

                        <td class="content_observation">
                            {% if observation.oiseau.nomVern is not empty %}
                                {{ observation.oiseau.nomVern}}<br>
                            {% endif %}
                            {{ observation.oiseau.nomComplet }}
                            <div class="tableau_observation">
                                <a href="{{ path('observation', {'id': observation.id}) }}">{{ observation.content |striptags| truncate(30)}}</a>
                            </div>
                        </td>

                        <td>
                            {{ observation.date | date('d-m-Y') }}
                        </td>
                        <td>
                            {% if observation.validateur is not null %}
                                {{ observation.validateur.username }}
                            {% endif %}
                        </td>
                        <td class="tableau_action action">
                            {% if  observation.status ==  constant('AppBundle\\Entity\\Observation::VALIDEE') %}
                                <a href="{{ path('observation', {'id': observation.id}) }}">
                                    <span class=" glyphicon glyphicon-eye-open icone" title="Voir l'observation"></span>
                                </a>
                            {% elseif observation.status ==  constant('AppBundle\\Entity\\Observation::SUPPRIMEE') %}
                                <a href="{{ path('supprimerObservation', {'id': observation.id, 'redirect': 'all_observations'}) }}">
                                    <span class=" glyphicon glyphicon-trash icone"
                                          title="Supprimer l'observation"></span>
                                </a>
                            {% elseif observation.status ==  constant('AppBundle\\Entity\\Observation::SIGNALEE') %}

                                <a href="{{ path('observation', {'id': observation.id}) }}">
                                    <span class=" glyphicon glyphicon-eye-open icone" title="Voir l'observation"></span>
                                </a>
                                <a href="{{ path('dashboard_editObservation', {observation: observation.id}) }}">
                                    <span class=" glyphicon glyphicon-pencil icone"
                                          title="Modifier l'observation"></span>
                                </a>
                                <a href="{{ path('demandeDeModificationObservation', {'id': observation.id, 'redirect': 'all_observations'}) }}">
                                    <span class=" glyphicon glyphicon-share-alt icone"
                                          title="Observation à modifier"></span>
                                </a>
                                <a href="{{ path('validerObservation', {'id': observation.id, 'redirect': 'all_observations'}) }}">
                                    <span class=" glyphicon glyphicon-ok icone" title="Valider l'observation"></span>
                                </a>
                                <a href="{{ path('supprimerObservation', {'id': observation.id, 'redirect': 'all_observations'}) }}">
                                    <span class=" glyphicon glyphicon-trash icone"
                                          title="Supprimer l'observation"></span>
                                </a>

                            {% else %}
                                <a href="{{ path('observation', {'id': observation.id}) }}">
                                    <span class=" glyphicon glyphicon-eye-open icone" title="Voir l'observation"></span>
                                </a>
                                <a href="{{ path('dashboard_editObservation', {observation: observation.id}) }}">
                                    <span class=" glyphicon glyphicon-pencil icone"
                                          title="Modifier l'observation"></span>
                                </a>
                                <a href="{{ path('demandeDeModificationObservation', {'id': observation.id, 'redirect': 'all_observations'}) }}">
                                    <span class=" glyphicon glyphicon-share-alt icone"
                                          title="Observation à modifier"></span>
                                </a>
                                <a href="{{ path('validerObservation', {'id': observation.id,'redirect': 'all_observations'}) }}">
                                    <span class=" glyphicon glyphicon-ok icone" title="Valider l'observation"></span>
                                </a>
                                <a href="{{ path('signalerObservation', {'id': observation.id, 'redirect': 'all_observations'}) }}">
                                    <span class=" glyphicon glyphicon-exclamation-sign icone"
                                          title="Signaler l'observation"></span>
                                </a>
                                <a href="{{ path('supprimerObservation', {'id': observation.id, 'redirect': 'all_observations'}) }}">
                                    <span class=" glyphicon glyphicon-trash icone"
                                          title="Supprimer l'observation"></span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="aucun">{% trans %}Il n'y a aucun article pour l'instant.{% endtrans %}</p>
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">{% include 'back/locale.html.twig' %}</script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.2.0/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="{{asset('js/table.js')}}"></script>
{% endblock %}

