{% extends "back-layout.html.twig" %}

{% set rq = app.request.query %}

{% block content %}

    <h4>Mes articles</h4>

    {% if articles is not empty %}

        <div class="tableau">
            <table class="display nowrap" id="data-table" cellspacing="0" width="100%">

                <thead>
                <tr>
                    <th>Contributeur</th>
                    <th>Date</th>
                    <th>Titre article</th>
                    <th class="tableau_action">Action</th>
                </tr>
                </thead>

                <tbody class="fond_tableau">
                {% for article in articles %}
                    <tr>
                        <td>
                            {{ article.author.username }}
                        </td>

                        <td>
                            {{ article.date | date('d-m-Y') }}
                        </td>

                        <td class="content_observation">
                            {{ article.title |striptags| truncate(20)}}
                            <div class="tableau_observation">
                                <a href="{{ path('article', {'id': article.id}) }}">{{ article.content |striptags| truncate(30) }}</a>
                            </div>
                        </td>

                        <td class="tableau_action action">

                            <a href="{{ path('article', {'id': article.id}) }}">
                                <span class=" glyphicon glyphicon-eye-open icone" title="Voir l'article"></span>
                            </a>

                            <a href="#">
                                <span class=" glyphicon glyphicon-pencil icone" title="Modifier l'article"></span>
                            </a>
                            <a href="#">
                                <span class=" glyphicon glyphicon-ok icone" title="Valider l'article"></span>
                            </a>
                            <a href="{{ path('supprimerArticle', {'id': article.id, 'redirect': 'all_articles'}) }}">
                                <span class=" glyphicon glyphicon-trash icone" title="Supprimer l'article"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="aucun">Il n'y a aucun article pour l'instant.</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.0/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#data-table').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
                },
                responsive: true
            });
        });
    </script>
{% endblock %}
