{% extends "back-layout.html.twig" %}

{% block content %}

    <h4>{% trans %}Éditer un article{% endtrans %}</h4>

    <div style="background-color: #9DC8C8;color: white;padding-left: 23px; padding-bottom: 23px; padding-right: 23px">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ form_row(form.title) }}
            </div>

            <div class="col-sm-3 col-xs-12 file">
                {{ form_row (form.file) }}
            </div>
            <div id="image" class="col-sm-3 col-xs-12 file">
            <img src="{{ asset(form.vars.value.photoWebPath) }}" alt="{{ article.getAltPhoto }}" width="150" height="150"
                 style="float: right; margin-left: 10px; margin-top: 20px;"/>
            </div>
        </div><!-- row -->

        {{ form_row(form.content, {'id' : 'summernote'}) }}


        <div class="envoyer">
            {{ form_row(form.enregistrer, {'label': 'Enregistrer'|trans,'attr': {'class': 'btn envoyer_formulaire' }}) }}
        </div>

        {{ form_end(form) }}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 300,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                  // set focus to editable area after initializing summernote
            });
            /* Code pour changer l'image une fois une nouvelle sélectionnée, ne marche pas encore. Restriction par le navigatuer pour avoir le chemin
            $('#article_file').on('change', function(e) {
                console.log('changed to: ' + this.value );
                $('#image').html('<img src=this.value width="150" height="150" style="float: right; margin-left: 10px; margin-top: 20px;"/>');
            });
            */
        });
    </script>

{% endblock %}
