{% extends "back-layout.html.twig" %}

{% set couleurs = {
'A valider': 'black',
'Validée': '#519D9E',
'A modifier': 'orange',
'Signalée': '#ff6000',
'Supprimée': '#d30000'
} %}

{% set rq = app.request.query %}

{% block content %}

    <h4>Mes observations</h4>

    {% if observations is not empty %}

        <div class="tableau dataTables_wrapper">
            <table class="display nowrap" id="data-table" cellspacing="0" width="100%">

                <thead>
                <tr>
                    <th>N°</th>
                    <th>Oiseau</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Observation</th>
                    <th class="tableau_action">Action</th>
                </tr>
                </thead>

                <tbody class="fond_tableau">
                {% for observation in observations %}
                    <tr>
                        <td>{{ observation.id }}</td>

                        <td class="taille_td">
                            {% if observation.oiseau.nomVern is not empty %}
                                {{ observation.oiseau.nomVern }}<br>
                            {% endif %}
                            {{ observation.oiseau.nomComplet }}
                        </td>

                        <td class="texte">
                            {{ observation.date | date('d-m-Y') }}
                        </td>

                        <td>
                            <span style="color: {{ couleurs[observation.status] }}">{{ observation.status }}</span>
                        </td>

                        <td class="content_observation">
                            <div class="tableau_observation">
                                <a href="{{ path('observation', {'id': observation.id}) }}">{{ observation.content |striptags| truncate(30)}}</a>
                            </div>
                        </td>

                        <td class="tableau_action action">
                            {% if  observation.status ==  constant('AppBundle\\Entity\\Observation::VALIDEE') %}
                                <a href="{{ path('observation', {'id': observation.id}) }}">
                                    <span class=" glyphicon glyphicon-eye-open icone" title="Voir l'observation"></span>
                                </a>
                            {% elseif observation.status ==  constant('AppBundle\\Entity\\Observation::SUPPRIMEE') %}
                                <a href="{{ path('supprimerObservation', {'id': observation.id, 'redirect': 'observations'}) }}">
                                    <span class=" glyphicon glyphicon-trash icone"
                                          title="Supprimer le commentaire"></span>
                                </a>
                            {% else %}
                                <a href="{{ path('observation', {'id': observation.id}) }}">
                                    <span class=" glyphicon glyphicon-eye-open icone" title="Voir l'observation"></span>
                                </a>
                                <a href="#">
                                    <span class=" glyphicon glyphicon-pencil icone"
                                          title="Modifier l'observation"></span>
                                </a>
                                <a href="{{ path('supprimerObservation', {'id': observation.id, 'redirect': 'observations'}) }}">
                                    <span class=" glyphicon glyphicon-trash icone"
                                          title="Supprimer l'observation"></span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="aucun">Il n'y a aucun article pour l'instant.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.2.0/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#data-table').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true
            });
        });
    </script>
{% endblock %}


