{% extends "layout.html.twig" %}

{% block body %}

    <div class="col-sm-3 dashboard">
        <h5>Tableau de bord</h5>

        <ul class="menu_dashboard">
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_profil' %} color {% endif %}">
                <a href="{{ path('dashboard_profil') }}">Profil</a>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_observations' %} color {% endif %}">
            <a href="{{ path('dashboard_observations') }}">Mes observations {#{{ nbObservations }}#} </a>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_all_observations' %} color {% endif %}">
                <a href="{{ path('dashboard_all_observations') }}">Toutes les observations </a> <span class="nb">{#{{ nbObservations  }}#}</span>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_articles'  %} color {% endif %}">
                <a href="{{ path('dashboard_articles') }}">Mes articles</a><span class="nb">{#{{ nbArticles  }}#}</span>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_all_articles'  %} color {% endif %}">
                <a href="{{ path('dashboard_all_articles') }}">Gestion des articles</a><span class="nb">{#{{ nbArticles  }}#}</span>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_utilisateurs' %} color {% endif %}">
                <a href="{{ path('dashboard_utilisateurs') }}"> Gestion des utilisateurs</a><span class="nb">{#{{ nbUsers  }}#}</span>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_redigerArticle' %} color {% endif %}">
                <a href="{{ path('dashboard_redigerArticle') }}">Rédiger un article</a>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_administration' %} color {% endif %}">
                <a href="{{ path('dashboard_administration') }}">Administration des pages admin</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-9 cadre dashboard">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}