{% extends "layout.html.twig" %}

{% block body %}

    <div class="col-sm-3 dashboard">
        <h5>Tableau de bord</h5>

        <ul class="menu_dashboard">
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_profil' %} color {% endif %}">
                <a href="{{ path('dashboard_profil') }}">Profil</a>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_observations' %} color {% endif %}">
            <a href="{{ path('dashboard_observations', {'only-me': 'true'}) }}">Mes observations {#{{ nbObservations }}#} </a>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_all_observations' %} color {% endif %}">
                <a href="{{ path('dashboard_all_observations') }}">Toutes les observations</a>
            </li>
            <li class=" {% if app.request.attributes.get('_route') == 'dashboard_all_articles' %} color {% endif %}">
                <a href="{{ path('dashboard_all_articles') }}">Gestion des articles</a>
            </li>
            <li>
                <a href="#"> Gestion des utilisateurs</a>
            </li>
            <li>
                <a href="#">Rédiger un article</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-9 cadre dashboard">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}