{% extends "layout.html.twig" %}

{% block body %}

    <div class="index-page">

        <div class="row">
            <h1>{{ page.title|raw }}</h1>

            <img class="img-responsive photo-index" src="{{ asset(page.photoWebPath) }}" alt="" style="width:100%;">

        </div>


        <div class="row autre">
        <div class="col-md-offset-1 col-md-2 col-xs-12">
            <a href="{{ path('map') }}"><h3 class="block">{% trans %}Rechercher{% endtrans %}</h3></a>
            <p class="texte">{% trans %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis risus.
                Mauris tincidunt molestie ligula vitae {% endtrans %}</p>
        </div>
        <div class="col-md-2 col-md-offset-2 col-xs-12">
            <a href="{{ path('observer') }}"> <h3 class="block">{% trans %}Observer{% endtrans %}</h3></a>
            <p class="texte">{% trans %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis risus.
                Mauris tincidunt molestie ligula vitae {% endtrans %}</p>
        </div>
        <div class="col-md-2 col-md-offset-2 col-xs-12">
            <a href="{{ path('actualites') }}"><h3 class="block">{% trans %}Actualité{% endtrans %}</h3></a>
            <p class="texte">{% trans %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis risus.
                Mauris tincidunt molestie ligula vitae {% endtrans %}</p>
        </div>
        </div>
    </div>

{% endblock %}
