{% extends "layout.html.twig" %}

{% block body %}

	<h2>Rechercher</h2>

	<div class="row">
		<div class="col-lg-6 col-xs-12">

			<input type="search" class="form-control" style="padding-left: 25px;" placeholder="Entrez le nom de l'oiseau que vous recherchez" width="50">
			<i id="search" class="fa fa-search"></i>

			<div id="map"></div>


		</div>
	</div> <!-- row -->

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var map;
		var locations = [];
		var markers = [];

		function initMap()
		{
			var styles = [ {#
				{
					featureType: ,
					stylers: []
				}
			#} ];

			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 48.856614, lng: 2.3522219000000177}, {# coordonnées de Paris #}
				zoom: 7,
				styles: styles,
				mapTypeControle: false
			});
			
			var largeInfoWindow = new google.maps.InfoWindow();
			var defaultIcon = makeMarkerIcon('9DC8C8');
			var highLightedIcon = makeMarkerIcon('5C7EE5');

			{# Code pour passer array twig à javascript #}
			{% for observation in observations %}
				locations.push( {
					title: "{% if observation.oiseau.nomVern is not empty %} {{ observation.oiseau.nomVern }} {% else %} {{ observation.oiseau.nomValide }} {% endif %}",
				 	content: "{{ observation.content|replace({"\n":' ', "\r":' '}) }}",
				 	url: "{{ observation.photo }}",
				 	position: {lat: {{ observation.latitude }}, lng: {{ observation.longitude }} } 
				 });
			{% endfor %}

			for (var i = 0; i < locations.length; i++)
			{
				var position = locations[i].position;
				var title = locations[i].title;

				var marker = new google.maps.Marker({
					map: map,
					position: position,
					title: title,
					icon: defaultIcon,
					animation: google.maps.Animation.DROP,
					id: i
				});
				markers.push(marker);

				{# Fait apparaître les infos quand on clique sur un markeur #}
				marker.addListener('click', function(){
					populateInfoWindow(this, largeInfoWindow);
				});

				{# Change le style du markeur quand on passe la souris dessus #}
				marker.addListener('mouseover', function(){
					this.setIcon(highLightedIcon);
				});

				marker.addListener('mouseout', function(){
					this.setIcon(defaultIcon);
				});
			}
		}

		function populateInfoWindow(marker, infoWindow)
		{
			if(infoWindow.marker != marker)
			{
				infoWindow.marker = marker;
				infoWindow.setContent('<div>' + marker.title + '<img alt="" src="" width="100" height="50">' + '</div>');
				infoWindow.open(map, marker);
				infoWindow.addListener('closeclick', function(){
				infoWindow.setMarker(null);
				});
			}
		}

		function makeMarkerIcon(markerColor)
		{
			var markerImage = new google.maps.MarkerImage(
				'http://chart.googleapis.com/chart?chst=d_map_spin&chld=1.15|0|' + markerColor + '|40|_|%E2%80%A2',
				new google.maps.Size(21, 34),
				new google.maps.Point(0, 0),
				new google.maps.Point(10, 34),
				new google.maps.Size(21, 34),
				);
			return markerImage;
		}
	</script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZjdDWppQRZkoIfeqHtm644-ncPYj9eXw&v=3&callback=initMap">
	</script>
{% endblock %}