{% extends "layout.html.twig" %}

{% block body %}

	<h2>Rechercher</h2>

	<div class="row">
		<div class="col-lg-6 col-xs-12">

			<input type="text" id="recherche" class="form-control" style="padding-left: 25px;" placeholder="Entrez le nom de l'oiseau que vous recherchez" width="50">
			<i id="search" class="fa fa-search"></i>

			<div id="map"></div>

		</div>

		<div class="col-lg-6 col-xs-12">

			<p style="text-align: center;">Il y a XXX observations pour cet oiseau</p>

			<div>
				<input type="range">
			</div>



		</div>

	</div> <!-- row -->

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>

	<script>
		var sourceList = [];
		{% for oiseau in listOiseauNames %}
			sourceList.push( "{{ oiseau }}" );
		{% endfor %}

		$(function() {
			$('#recherche').autocomplete({
				source: sourceList
			});

			$('#recherche').on('autocompletechange', function(){
				// On lance une requête ajax pour mettre à jour $listObservations
				$.ajax({
                    url : "{{ path('map') }}",
                    type : 'POST',
                    data : {oiseauName: this.value},
                    success: function(){ 
                    	console.log('success'); 
                    	withDrawMarkers();
                    	setMarkers(map, locations);
                    	},
                    error : function(resultat, satut, erreur){
                        console.log(resultat + erreur);
                    }
                });


			});
		});

		var locations = [];
		{# Code pour passer array twig à javascript #}
			{% for observation in observations %}
				locations.push( {
					title: "{% if observation.oiseau.nomVern is not empty %} {{ observation.oiseau.nomVern }} {% else %} {{ observation.oiseau.nomValide }} {% endif %}",
				 	content: "{{ observation.content|replace({"\n":' ', "\r":' '}) }}",
				 	url: "{{ observation.photo }}",
				 	position: {lat: {{ observation.latitude }}, lng: {{ observation.longitude }} } 
				 });
			{% endfor %}
	</script>

	<script src="{{ asset('js/maps.js') }}"></script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZjdDWppQRZkoIfeqHtm644-ncPYj9eXw&v=3&callback=initMap">
	</script>
{% endblock %}