{% extends "layout.html.twig" %}

{% block body %}

    <h2>{{ article.title }}</h2>

    <div class="row miniature article">
        <div class="col-md-3 col-xs-12 miniature">
            <img src="{{ asset(article.photoWebPath) }}" alt="" width="277" height="350"
                 style="float: left; margin-right: 10px; margin-top: 20px;"/>
            <div class="row">
                <div class="col-md-12 col-xs-12 ">
                    <p class="articleB"><strong>{% trans %}Date de
                            création: {% endtrans %}</strong> {{ article.date|date('d/m/Y') }}</p>
                    <p class="articleB"><strong>{% trans %}Auteur: {% endtrans %}</strong> {{ article.author.username }}
                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xs-12">
            <p class="article-content">{{ article.content| raw }}</p>
            {% if is_granted('ROLE_CONTRIBUTEUR') %}
                <div class="form-group col-xs-12">
                    <div class="col-lg-offset-4 col-lg-12 col-sm-offset-4">
                        <a href="">
                            <button type="button" class="btn envoyer_formulaire col-lg-2"
                                    style="margin-right: 20px; background-color: red">{% trans %}
                                Modifier{% endtrans %}</button>
                        </a>

                        <a href="{{ path('supprimerArticle', {'id': article.id, 'redirect': 'actualites'}) }}">
                            <button type="button" class="btn envoyer_formulaire  col-lg-2"
                                    style="background-color: #519D9E">{% trans %}
                                Supprimer{% endtrans %}</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>


        <div class=" col-md-3 col-xs-12 miniature">
            {% for article in listArticles %}

                <div class="row miniature">
                    <div class="col-md-12 col-xs-12">
                        <h3>{{ article.title }}</h3>
                    </div>
                    <div class="row miniature">
                        <div class="col-md-5 col-xs-12">
                            <img style="float: left; margin-right: 10px;" src="{{ asset(article.photoWebPath) }}" alt=""
                                 width="100" height="125"/>
                        </div>

                        <div class="col-md-7 col-xs-12">
                            <p class="content">{{ article.content|striptags | truncate(80)| raw }}</p>
                            <p><a href="{{ path('article', {'id': article.id}) }}" style="float: right;">
                                    {% trans %} Lire la suite...{% endtrans %}</a>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}